# Welcome to Lab: Simpson's Paradox 🔬

Before this lab section, you learned about Simpson's Paradox and confounding variables in lecture.  This week, you will find Simpson's Paradox through analysis of a dataset in Python, and get some practice writing conditionals for pandas DataFrames! 

A few tips to remember:

- **You are not alone on your journey in learning programming!**  You have your lab Teaching Assistant, your Course Aides, your lab group, and the professors (Prof. Wade and Prof. Karle), who are all here to help you out!
- If you find yourself stuck for more than a few minutes, ask a neighbor or course staff for help!  When you are giving help to your neighbor, explain the **idea and approach** to the problem without sharing the answer itself so they can have the same **<i>ah-hah</i>** moment!
- We are here to help you!  Don't feel embarrassed or shy to ask us for help!

Let's get started!

In [ ]:
# Meet your CAs and TA if you haven't already!
# ...first name is enough, we'll know who they are! :)
ta_name = "Alex"
ca1_name = "Ana"
ca2_name = "Evan"
ca3_name = "Areeba"


# Say hello to each other!
# - Groups of 3 are ideal :)
# - However, groups of 2 or 4 are fine too!
#
# Question of the Day (QOTD) to Ask Your Group: "Have you heard of ChatGPT?"
partner1_name = "Bryan"
partner1_netid = "bryanfw2"
partner1_chatgpt = "Y"

partner2_name = "Medha"
partner2_netid = "medhak2"
partner2_chatgpt = "Y"

partner3_name = "zijian"
partner3_netid = "zijians3"
partner3_chatgpt= "Y"

<hr style="color: #DD3403;">

# Part 1: The GPA Dataset

Many of you have likely come across one of the GPA visualizations found at https://waf.cs.illinois.edu/discovery/gpa/, either out of 
curiosity or the need to investigate a mysterious GenEd class you signed up for. 

Regardless, these visualizations are built on the **GPA Dataset** of UIUC students across all course subjects. Today, you're going to do some analysis and discover a case of Simpson's Paradox within data taken from UIUC courses!

## Load the GPA Dataset

The most recent version of the "GPA Dataset" is available here:
```
https://waf.cs.illinois.edu/discovery/gpa.csv
```

Use Python to load this dataset into a DataFrame called `df`:

In [1]:
import pandas as pd
df = pd.read_csv("https://waf.cs.illinois.edu/discovery/gpa.csv")
df

,Year,Term,YearTerm,Subject,Number,Course Title,Sched Type,A+,A,A-,...,C+,C,C-,D+,D,D-,F,W,Primary Instructor,Students
0,2022,Spring,2022-sp,AAS,100,Intro Asian American Studies,LCD,6,13,0,...,0,3,0,1,1,0,0,0,"Lee, Sang S",29
1,2022,Spring,2022-sp,AAS,100,Intro Asian American Studies,DIS,0,11,5,...,1,0,1,1,0,0,0,0,"Zheng, Reanne",25
2,2022,Spring,2022-sp,AAS,100,Intro Asian American Studies,DIS,0,10,7,...,0,0,0,0,0,0,2,0,"Zheng, Reanne",27
3,2022,Spring,2022-sp,AAS,100,Intro Asian American Studies,DIS,17,8,1,...,0,0,0,0,0,0,0,0,"Rosado-Torres, Alexander",28
4,2022,Spring,2022-sp,AAS,100,Intro Asian American Studies,OD,0,8,4,...,1,0,0,0,0,1,3,1,"Wang, Yu",21
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
64043,2010,Summer,2010-su,STAT,410,Statistics and Probability II,LEC,5,10,2,...,0,1,3,0,0,0,2,1,"Stepanov, Alexei G",31
64044,2010,Summer,2010-su,STAT,440,Statistical Data Management,LEC,4,12,8,...,0,0,0,0,0,0,0,0,"Unger, David",28
64045,2010,Summer,2010-su,TAM,212,Introductory Dynamics,LEC,0,1,3,...,5,1,1,0,2,0,1,0,"Morgan, William T",28
64046,2010,Summer,2010-su,TAM,251,Introductory Solid Mechanics,LCD,1,2,2,...,3,3,2,0,0,1,1,0,"Ott-Monsivais, Stephanie",21
64047,2010,Summer,2010-su,TAM,335,Introductory Fluid Mechanics,LEC,5,8,9,...,0,4,0,0,1,0,2,0,"Keane, Richard D",39

### 🔬 Test Case Checkpoint 🔬

In [2]:
## == CHECKPOINT TEST CASES ==
# - This read-only cell contains test cases for your previous cell.
# - If this cell runs without any errors, you PASSED all test cases!
# - If this cell results in any errors, check your previous cell, make changes, and RE-RUN your code and then this cell.
assert(len(df) == 64048 ), "This is not the GPA dataset you're looking for"

## == SUCCESS MESSAGE ==
# You will only see this message (with the emoji showing) if you passed all test cases:
tada = "\N{PARTY POPPER}"
print(f"{tada} All tests passed! {tada}")

🎉 All tests passed! 🎉

## Data Cleaning: An Additional Column

The GPA dataset contains raw GPA data and is not the easiest to work with if we want to analyze intricacies such as the average GPA or passing rate.  Luckily, DataFrames are modifiable, so we can **add more columns** based on what questions we want to answer.

The process of modifying a dataset via deletion (cleaning up empty/unwanted values) or addition (adding new columns) is often called **data cleaning**. This is an important concept in Data Science, because you won't always receive your data in the perfect format for your purposes.

With the GPA dataset, we want to investigate one innocent question posed by a theoretical incoming student: 
- *Is it easier to get an A in STAT or CS courses at UIUC?*

To do this, we'll need to first perform some modifications on our loaded DataFrame, `df`. Specifically, we will need to create:
- An `A_Grades` column, containing the total number of students receiving an A+, A, or A- in every course

### Puzzle 1.1: Creating an `A_Grades` Column

Create the new column `A_Grades` that stores the total number of "A"s given in every course.

- We consider an "A" to be any type of A, in other words "A+", "A", or an "A-" are all included.
- In our `df`, the number of students recieving a particular grade in a course is found in the `df['Grade']` column. For example, `df['A']` contains the number of students who recieved an A.

In [4]:
df['A_Grades'] = df["A+"] + df["A"] + df["A-"]
df

,Year,Term,YearTerm,Subject,Number,Course Title,Sched Type,A+,A,A-,...,C,C-,D+,D,D-,F,W,Primary Instructor,Students,A_Grades
0,2022,Spring,2022-sp,AAS,100,Intro Asian American Studies,LCD,6,13,0,...,3,0,1,1,0,0,0,"Lee, Sang S",29,19
1,2022,Spring,2022-sp,AAS,100,Intro Asian American Studies,DIS,0,11,5,...,0,1,1,0,0,0,0,"Zheng, Reanne",25,16
2,2022,Spring,2022-sp,AAS,100,Intro Asian American Studies,DIS,0,10,7,...,0,0,0,0,0,2,0,"Zheng, Reanne",27,17
3,2022,Spring,2022-sp,AAS,100,Intro Asian American Studies,DIS,17,8,1,...,0,0,0,0,0,0,0,"Rosado-Torres, Alexander",28,26
4,2022,Spring,2022-sp,AAS,100,Intro Asian American Studies,OD,0,8,4,...,0,0,0,0,1,3,1,"Wang, Yu",21,12
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
64043,2010,Summer,2010-su,STAT,410,Statistics and Probability II,LEC,5,10,2,...,1,3,0,0,0,2,1,"Stepanov, Alexei G",31,17
64044,2010,Summer,2010-su,STAT,440,Statistical Data Management,LEC,4,12,8,...,0,0,0,0,0,0,0,"Unger, David",28,24
64045,2010,Summer,2010-su,TAM,212,Introductory Dynamics,LEC,0,1,3,...,1,1,0,2,0,1,0,"Morgan, William T",28,4
64046,2010,Summer,2010-su,TAM,251,Introductory Solid Mechanics,LCD,1,2,2,...,3,2,0,0,1,1,0,"Ott-Monsivais, Stephanie",21,5
64047,2010,Summer,2010-su,TAM,335,Introductory Fluid Mechanics,LEC,5,8,9,...,4,0,0,1,0,2,0,"Keane, Richard D",39,22

### 🔬 Test Case Checkpoint 🔬

In [5]:
## == CHECKPOINT TEST CASES ==
# - This read-only cell contains test cases for your previous cell.
# - If this cell runs without any errors, you PASSED all test cases!
# - If this cell results in any errors, check your previous cell, make changes, and RE-RUN your code and then this cell.
assert('A_Grades' in df), "Make sure you've named the A_Grades column properly and added it to the dataframe"
assert(df['A_Grades'].sum() == 2096341), "Double check the values of your A_Grades column"

## == SUCCESS MESSAGE ==
# You will only see this message (with the emoji showing) if you passed all test cases:
tada = "\N{PARTY POPPER}"
print(f"{tada} All tests passed! {tada}")

🎉 All tests passed! 🎉

# Part 1: Working with the GPA Dataset
Now that we have that extra column set up, we can perform basic mathematical analysis on the GPA Dataset to get insight towards our question:
- *Is it easier to get an A in STAT or CS courses at UIUC?*

Should be simple, right? Let's just see which subject, STAT or CS, has a greater percentage of A grades.

### Puzzle 1.2: Subject DataFrames

Select only the rows of the GPA dataset `df` with a `Subject` of `STAT`. Assign these rows to a new DataFrame, `df_STAT`. 
- Make sure your result only contains STAT courses!

In [6]:
df_STAT = df[df.Subject == "STAT"]
df_STAT

,Year,Term,YearTerm,Subject,Number,Course Title,Sched Type,A+,A,A-,...,C,C-,D+,D,D-,F,W,Primary Instructor,Students,A_Grades
2172,2022,Spring,2022-sp,STAT,100,Statistics,LEC,186,106,55,...,30,10,14,10,8,11,2,"Flanagan, Karle A",582,347
2173,2022,Spring,2022-sp,STAT,100,Statistics,ONL,178,126,72,...,24,19,11,15,12,16,2,"Flanagan, Karle A",663,376
2174,2022,Spring,2022-sp,STAT,100,Statistics,ONL,19,21,4,...,0,3,0,2,2,9,1,"Reger, William J",84,44
2175,2022,Spring,2022-sp,STAT,107,Data Science Discovery,LEC,9,125,24,...,5,2,6,2,1,10,2,"Flanagan, Karle A",230,158
2176,2022,Spring,2022-sp,STAT,200,Statistical Analysis,ONL,57,131,41,...,13,4,2,0,2,9,2,"Fireman, Ellen S",350,229
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
64040,2010,Summer,2010-su,STAT,100,Statistics,LCD,1,13,3,...,2,2,3,1,1,1,0,"Hirtz, Nathaniel R",39,17
64041,2010,Summer,2010-su,STAT,100,Statistics,LCD,0,14,3,...,3,0,0,1,0,3,1,"Dalpiaz, David M",28,17
64042,2010,Summer,2010-su,STAT,400,Statistics and Probability I,LEC,4,15,7,...,2,2,0,1,0,3,1,"Monrad, Ditlev",47,26
64043,2010,Summer,2010-su,STAT,410,Statistics and Probability II,LEC,5,10,2,...,1,3,0,0,0,2,1,"Stepanov, Alexei G",31,17
64044,2010,Summer,2010-su,STAT,440,Statistical Data Management,LEC,4,12,8,...,0,0,0,0,0,0,0,"Unger, David",28,24

Select only the rows of the GPA dataset `df` with a `Subject` of `CS`. Assign these rows to a new dataframe, `df_CS`. 
- Make sure your result only contains CS courses!

In [12]:
df_CS = df[df.Subject == "CS"]
df_CS

,Year,Term,YearTerm,Subject,Number,Course Title,Sched Type,A+,A,A-,...,C,C-,D+,D,D-,F,W,Primary Instructor,Students,A_Grades
712,2022,Spring,2022-sp,CS,101,Intro Computing: Engrg & Sci,OLC,155,340,55,...,3,6,4,6,0,17,1,"Davis, Neal E",642,550
713,2022,Spring,2022-sp,CS,105,Intro Computing: Non-Tech,OLC,12,62,17,...,16,14,3,4,4,9,2,"Zilles, Craig",193,91
714,2022,Spring,2022-sp,CS,105,Intro Computing: Non-Tech,OLC,28,101,26,...,19,20,4,9,2,10,3,"Zilles, Craig",308,155
715,2022,Spring,2022-sp,CS,124,Intro to Computer Science I,OLC,70,314,43,...,9,9,0,18,0,28,4,"Challen, Geoffrey W",578,427
716,2022,Spring,2022-sp,CS,126,Software Design Studio,LCD,47,105,25,...,1,0,1,3,2,5,0,"Woodley, Michael J",203,177
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
63924,2010,Summer,2010-su,CS,101,Intro Computing: Engrg & Sci,LBD,4,6,2,...,0,1,0,0,0,0,0,"Gambill, Thomas N",21,12
63925,2010,Summer,2010-su,CS,225,Data Structures,LBD,1,5,1,...,3,1,0,2,0,1,0,"Earls, John C",21,7
63926,2010,Summer,2010-su,CS,373,Theory of Computation,LEC,5,1,5,...,0,2,0,2,0,1,1,"Kumar, Viraj",26,11
63927,2010,Summer,2010-su,CS,421,Progrmg Languages & Compilers,LCD,2,5,5,...,1,4,0,4,0,0,1,"Hafiz, Munawar",30,12
63928,2010,Summer,2010-su,CS,598,Object-Oriented Prog & Design,ONL,3,22,0,...,0,0,0,0,0,0,0,"Johnson, Ralph E",30,25

### 🔬 Test Case Checkpoint 🔬

In [9]:
## == CHECKPOINT TEST CASES ==
# - This read-only cell contains test cases for your previous cell.
# - If this cell runs without any error our output, you PASSED all test cases!
# - If this cell results in any errors, check you previous cell, make changes, and RE-RUN your code and then this cell.
assert( 'df_STAT' in vars() ), "Make certain to name the STAT courses df_STAT."
assert( 'df_CS' in vars() ), "Make certain to name the CS courses df_CS."
assert( len(df_STAT[df_STAT.Subject != "STAT"] ) == 0 ), "It looks like you did not subset df_STAT to only STAT courses."
assert( len(df_CS[df_CS.Subject != "CS"] ) == 0 ), "It looks like you did not subset df_STAT to only STAT courses."

## == SUCCESS MESSAGE ==
# You will only see this message (with the emoji showing) if you passed all test cases:
tada = "\N{PARTY POPPER}"
print(f"{tada} All tests passed! {tada}")

🎉 All tests passed! 🎉

### Puzzle 1.3: Comparing Overall Percentages

With our two new dataframes of STAT and CS courses, use the following code cell to determine the **percentage** of A grades recieved in STAT and CS courses, storing them as variables `stat_a` and `cs_a` respectively. 

Print statements have been provided to show the values you calculate. 

As you work, remember:
- To find the **% of As**, divide the total number of `A_Grades` by the total number of `Students` ($\space \frac{A \space Grades}{Students} \space$).
- The `A_Grades` column you made earlier, and the `Students` column containing the total number of students in each course.
- The syntax `sum(df['column_name'])` can be used to add up the values of all rows in a particular column of a DataFrame.
- Your % should be a decimal between 0 and 1.

In [16]:
stat_a = sum(df_STAT["A_Grades"]) / sum(df_STAT["Students"])
print(f'Overall % of As in STAT is: {stat_a}')

cs_a = sum(df_CS["A_Grades"]) / sum(df_CS["Students"])
print(f'Overall % of As in CS is: {cs_a}')

Overall % of As in STAT is: 0.6051620045305918
Overall % of As in CS is: 0.596793417279641

### 🔬 Test Case Checkpoint 🔬

In [18]:
## == CHECKPOINT TEST CASES ==
# - This read-only cell contains test cases for your previous cell.
# - If this cell runs without any errors, you PASSED all test cases!
# - If this cell results in any errors, check your previous cell, make changes, and RE-RUN your code and then this cell.
import math
assert(math.isclose(stat_a, 0.6051620045305918)), "The overall percentage of A grades recieved in STAT courses does not appear to have been correctly calculated"
assert(math.isclose(cs_a, 0.596793417279641)), "The overall percentage of A grades recieved in CS courses does not appear to have been correctly calculated"

## == SUCCESS MESSAGE ==
# You will only see this message (with the emoji showing) if you passed all test cases:
tada = "\N{PARTY POPPER}"
print(f"{tada} All tests passed! {tada}")

🎉 All tests passed! 🎉

### Analysis: Good Comparison?
**Q: What conclusion can you take from the overall percentages found above when asking the original question:**
- *Is it easier to get an A in STAT or CS courses at UIUC?*

It is about the same difficulty in both subjects, about 60% of students get As in both.

**Q: Given what you've learned about experimental design, what are some reasons (specific to this dataset) you may not trust this conclusion? If you would trust it, explain why.**

I may not trust this conclusion because maybe smarter people who already get better grades, are more likely to take STAT courses than CS courses.

## An Extra Consideration

If you look at the `Year` column of our GPA dataset, you might notice that we have some old data in our set - all the way back to **2010**! This means we aren't really answering our question from the perspective of a student now. 

If we want to know if it is easier to **currently** get an A in a STAT or CS course, we should control for the **date** of the data by looking at more **recent years** specifically.

### Puzzle 1.4: More DataFrames

Using the code cells below, define four new DataFrames by selecting from rows of our previously created `df_CS` and `df_STAT`. 

- `df_cs_recent`: all `CS` course data in *recent years* ($\space \geq 2021 \space$)
- `df_stat_recent`: all `STAT` course data in *recent years* ($\space \geq 2021 \space$)
- `df_cs_old`: all other, older `CS` course data ($\space < 2021 \space$)
- `df_stat_old`: all other, older `STAT` course data ($\space < 2021 \space$)

Define *recent years* as **any year after and including 2021**, and older years as any year before 2021. 

Feel free to use conditionals OR the `.isin()` syntax you learned in the last lab.

In [19]:
df_stat_recent = df_STAT[df_STAT["Year"] >= 2021]
df_stat_recent

,Year,Term,YearTerm,Subject,Number,Course Title,Sched Type,A+,A,A-,...,C,C-,D+,D,D-,F,W,Primary Instructor,Students,A_Grades
2172,2022,Spring,2022-sp,STAT,100,Statistics,LEC,186,106,55,...,30,10,14,10,8,11,2,"Flanagan, Karle A",582,347
2173,2022,Spring,2022-sp,STAT,100,Statistics,ONL,178,126,72,...,24,19,11,15,12,16,2,"Flanagan, Karle A",663,376
2174,2022,Spring,2022-sp,STAT,100,Statistics,ONL,19,21,4,...,0,3,0,2,2,9,1,"Reger, William J",84,44
2175,2022,Spring,2022-sp,STAT,107,Data Science Discovery,LEC,9,125,24,...,5,2,6,2,1,10,2,"Flanagan, Karle A",230,158
2176,2022,Spring,2022-sp,STAT,200,Statistical Analysis,ONL,57,131,41,...,13,4,2,0,2,9,2,"Fireman, Ellen S",350,229
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7541,2021,Summer,2021-su,STAT,400,Statistics and Probability I,OLC,11,22,6,...,4,3,2,1,0,7,2,"Nguyen, Ha Khanh",84,39
7542,2021,Summer,2021-su,STAT,410,Statistics and Probability II,ONL,8,14,4,...,3,0,0,3,0,4,2,"Stepanov, Alexey G",56,26
7543,2021,Summer,2021-su,STAT,420,Statistical Modeling in R,ONL,101,94,15,...,1,0,0,0,0,2,4,"Unger, David",227,210
7544,2021,Summer,2021-su,STAT,420,Methods of Applied Statistics,ONL,5,8,1,...,2,0,0,0,0,1,0,"Unger, David",22,14
7545,2021,Summer,2021-su,STAT,425,Applied Regression and Design,ONL,13,13,8,...,0,1,0,0,0,5,0,"Bravo De Guenni, Lelys",45,34

In [21]:
df_cs_recent = df_CS[df_CS["Year"] >= 2021]
df_cs_recent

,Year,Term,YearTerm,Subject,Number,Course Title,Sched Type,A+,A,A-,...,C,C-,D+,D,D-,F,W,Primary Instructor,Students,A_Grades
712,2022,Spring,2022-sp,CS,101,Intro Computing: Engrg & Sci,OLC,155,340,55,...,3,6,4,6,0,17,1,"Davis, Neal E",642,550
713,2022,Spring,2022-sp,CS,105,Intro Computing: Non-Tech,OLC,12,62,17,...,16,14,3,4,4,9,2,"Zilles, Craig",193,91
714,2022,Spring,2022-sp,CS,105,Intro Computing: Non-Tech,OLC,28,101,26,...,19,20,4,9,2,10,3,"Zilles, Craig",308,155
715,2022,Spring,2022-sp,CS,124,Intro to Computer Science I,OLC,70,314,43,...,9,9,0,18,0,28,4,"Challen, Geoffrey W",578,427
716,2022,Spring,2022-sp,CS,126,Software Design Studio,LCD,47,105,25,...,1,0,1,3,2,5,0,"Woodley, Michael J",203,177
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7393,2021,Summer,2021-su,CS,416,Data Visualization,ONL,265,113,25,...,0,0,0,0,0,3,8,"Hart, John C",432,403
7394,2021,Summer,2021-su,CS,421,Progrmg Languages & Compilers,ONL,50,20,5,...,2,0,0,2,0,4,2,"Beckman, Mattox A",92,75
7395,2021,Summer,2021-su,CS,421,Progrmg Languages & Compilers,OLC,17,8,6,...,4,0,0,6,0,5,3,"Beckman, Mattox A",62,31
7396,2021,Summer,2021-su,CS,598,Cloud Capstone,ONL,55,15,3,...,1,0,0,1,0,0,0,"Farivar, Reza",75,73
7397,2021,Summer,2021-su,CS,598,Data Mining Capstone,ONL,11,16,1,...,0,0,0,0,0,0,0,"Farivar, Reza",29,28

In [22]:
df_stat_old = df_STAT[df_STAT["Year"] < 2021]
df_stat_old

,Year,Term,YearTerm,Subject,Number,Course Title,Sched Type,A+,A,A-,...,C,C-,D+,D,D-,F,W,Primary Instructor,Students,A_Grades
9790,2020,Fall,2020-fa,STAT,100,Statistics,ONL,402,283,159,...,43,34,15,15,5,35,0,"Flanagan, Karle A",1340,844
9791,2020,Fall,2020-fa,STAT,107,Data Science Discovery,OLC,22,86,13,...,4,4,1,0,0,5,0,"Nguyen, Ha Khanh",163,121
9792,2020,Fall,2020-fa,STAT,200,Statistical Analysis,ONL,26,1,3,...,1,0,3,1,0,1,0,"Ellison, Victoria M",40,30
9793,2020,Fall,2020-fa,STAT,200,Statistical Analysis,ONL,60,112,39,...,9,6,1,4,0,1,0,"Fireman, Ellen S",319,211
9794,2020,Fall,2020-fa,STAT,212,Biostatistics,ONL,50,80,39,...,4,4,1,2,1,1,0,"Findley, Kelly P",242,169
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
64040,2010,Summer,2010-su,STAT,100,Statistics,LCD,1,13,3,...,2,2,3,1,1,1,0,"Hirtz, Nathaniel R",39,17
64041,2010,Summer,2010-su,STAT,100,Statistics,LCD,0,14,3,...,3,0,0,1,0,3,1,"Dalpiaz, David M",28,17
64042,2010,Summer,2010-su,STAT,400,Statistics and Probability I,LEC,4,15,7,...,2,2,0,1,0,3,1,"Monrad, Ditlev",47,26
64043,2010,Summer,2010-su,STAT,410,Statistics and Probability II,LEC,5,10,2,...,1,3,0,0,0,2,1,"Stepanov, Alexei G",31,17
64044,2010,Summer,2010-su,STAT,440,Statistical Data Management,LEC,4,12,8,...,0,0,0,0,0,0,0,"Unger, David",28,24

In [23]:
df_cs_old = df_CS[df_CS["Year"] < 2021]
df_cs_old

,Year,Term,YearTerm,Subject,Number,Course Title,Sched Type,A+,A,A-,...,C,C-,D+,D,D-,F,W,Primary Instructor,Students,A_Grades
8276,2020,Fall,2020-fa,CS,100,Freshman Orientation,ONL,0,267,2,...,0,0,0,1,0,1,0,"Gunter, Elsa",277,269
8277,2020,Fall,2020-fa,CS,100,Freshman Orientation,OLC,0,17,1,...,0,0,1,0,0,1,0,"Gunter, Elsa",22,18
8278,2020,Fall,2020-fa,CS,101,Intro Computing: Engrg & Sci,OLC,181,191,19,...,2,5,1,1,0,5,0,"Davis, Neal E",434,391
8279,2020,Fall,2020-fa,CS,105,Intro Computing: Non-Tech,OLC,31,105,72,...,20,17,3,2,2,14,0,"Zilles, Craig",420,208
8280,2020,Fall,2020-fa,CS,105,Intro Computing: Non-Tech,OLC,20,45,27,...,4,3,3,2,1,6,0,"Zilles, Craig",174,92
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
63924,2010,Summer,2010-su,CS,101,Intro Computing: Engrg & Sci,LBD,4,6,2,...,0,1,0,0,0,0,0,"Gambill, Thomas N",21,12
63925,2010,Summer,2010-su,CS,225,Data Structures,LBD,1,5,1,...,3,1,0,2,0,1,0,"Earls, John C",21,7
63926,2010,Summer,2010-su,CS,373,Theory of Computation,LEC,5,1,5,...,0,2,0,2,0,1,1,"Kumar, Viraj",26,11
63927,2010,Summer,2010-su,CS,421,Progrmg Languages & Compilers,LCD,2,5,5,...,1,4,0,4,0,0,1,"Hafiz, Munawar",30,12
63928,2010,Summer,2010-su,CS,598,Object-Oriented Prog & Design,ONL,3,22,0,...,0,0,0,0,0,0,0,"Johnson, Ralph E",30,25

### 🔬 Test Case Checkpoint 🔬

In [24]:
## == CHECKPOINT TEST CASES ==
# - This read-only cell contains test cases for your previous cell.
# - If this cell runs without any error our output, you PASSED all test cases!
# - If this cell results in any errors, check you previous cell, make changes, and RE-RUN your code and then this cell.
assert( 'df_stat_recent' in vars() ), "Make certain to name the recent STAT courses df_stat_recent."
assert( 'df_cs_recent' in vars() ), "Make certain to name the recent CS courses df_cs_recent."
assert( 'df_stat_old' in vars() ), "Make certain to name the old STAT courses df_stat_old."
assert( 'df_cs_old' in vars() ), "Make certain to name the old CS courses df_cs_old."

assert( len(df_stat_recent[df_stat_recent.Year < 2021] ) == 0 ), "Make sure only years after and including 2021 are in the df_stat_recent dataframe."
assert( len(df_cs_recent[df_cs_recent.Year < 2021] ) == 0 ), "Make sure only years after and including 2021 are in the df_cs_recent dataframe."
assert( len(df_stat_old[df_stat_old.Year >= 2021] ) == 0 ), "Make sure only years before 2021 are in the df_stat_old dataframe."
assert( len(df_cs_old[df_cs_old.Year >= 2021] ) == 0 ), "Make sure only years before 2021 are in the df_cs_old dataframe."

assert( len(df[ df.index.isin(df_stat_recent.index) & df.index.isin(df_stat_old.index) ]) == 0 ), "Check for duplicate values in your df_stat_recent and df_stat_old dataframes."
assert( len(df[ df.index.isin(df_cs_recent.index) & df.index.isin(df_cs_old.index) ]) == 0 ), "Check for duplicate values in your df_cs_recent and df_cs_old dataframes."
assert( len(df_cs_old) + len(df_cs_recent) == len(df_CS) ), "You're excluding some rows from df_cs_old or df_cs_young. Please double check your conditionals."
assert( len(df_stat_old) + len(df_stat_recent) == len(df_STAT) ), "You're excluding some rows from df_stat_old or df_stat_recent. Please double check your conditionals."

## == SUCCESS MESSAGE ==
# You will only see this message (with the emoji showing) if you passed all test cases:
tada = "\N{PARTY POPPER}"
print(f"{tada} All tests passed! {tada}")

🎉 All tests passed! 🎉

### Puzzle 1.5: New Analysis
Now that we've got all the DataFrames setup with GPA data of the `CS` and `STAT` courses separated by recency (2021 or newer being 'recent'), we can do more in-depth analysis to investigate our question. 

In the following code cells, **calculate the percentages** described by the comment in the cell. Your answer should always be a **decimal between 0 and 1**. 

Just like Puzzle 1.2, remember: 
- To find the % of As, divide the total number of As by the total number of students. 
- The `A_Grades` column you made earlier, and the `Students` column containing the total number of students in each course.
- The syntax `sum(df['column_name'])` can be used to add up the values of all rows in a particular column of a DataFrame.

In [25]:
# Percentage of As received in CS in recent years
cs_recent_a = sum(df_cs_recent["A_Grades"]) / sum(df_cs_recent["Students"])
print(f'Percentage of As received in CS in recent years: {cs_recent_a}')

Percentage of As received in CS in recent years: 0.7052750783492665

In [26]:
# Percentage of As received in STAT in recent years
stat_recent_a = sum(df_stat_recent["A_Grades"]) / sum(df_stat_recent["Students"])
print(f'Percentage of As received in STAT in recent years: {stat_recent_a}')

Percentage of As received in STAT in recent years: 0.6488539077602872

In [27]:
# percentage of As received in CS in older years
cs_old_a = sum(df_cs_old["A_Grades"]) / sum(df_cs_old["Students"])
print(f'Percentage of As received in CS in older years: {cs_old_a}')

Percentage of As received in CS in older years: 0.5714531786360225

In [28]:
# percentage of As received in STAT in older years
stat_old_a = sum(df_stat_old["A_Grades"]) / sum(df_stat_old["Students"])
print(f'Percentage of As received in STAT in older years: {stat_old_a}')

Percentage of As received in STAT in older years: 0.5975443876015648

### 🔬 Test Case Checkpoint 🔬

In [29]:
## == CHECKPOINT TEST CASES ==
# - This read-only cell contains test cases for your previous cell.
# - If this cell runs without any errors, you PASSED all test cases!
# - If this cell results in any errors, check your previous cell, make changes, and RE-RUN your code and then this cell.
assert(math.isclose(cs_recent_a,  0.7052750783492665)), "The overall percentage of A grades recieved in STAT courses recently does not appear to have been correctly calculated"
assert(math.isclose(stat_recent_a, 0.6488539077602872)), "The overall percentage of A grades recieved in CS courses recently does not appear to have been correctly calculated"

assert(math.isclose(cs_old_a, 0.5714531786360225)), "The overall percentage of A grades recieved in STAT courses in older years does not appear to have been correctly calculated"
assert(math.isclose(stat_old_a, 0.5975443876015648)), "The overall percentage of A grades recieved in CS courses in older years does not appear to have been correctly calculated"

## == SUCCESS MESSAGE ==
# You will only see this message (with the emoji showing) if you passed all test cases:
tada = "\N{PARTY POPPER}"
print(f"{tada} All tests passed! {tada}")

🎉 All tests passed! 🎉

### Observe the Results
**Run the following cell** to format all of your answers as a DataFrame.

Keep in mind that "Older" means data from courses **before 2021**, and "Recent" means courses held **during or after 2021**.

In [30]:
pd.DataFrame([
  {'Older % of A': cs_old_a, 'Recent % of A': cs_recent_a, 'Overall % of A': cs_a},
  {'Older % of A': stat_old_a, 'Recent % of A': stat_recent_a, 'Overall % of A': stat_a}
], index=['CS', 'STAT'])

      Older % of A  Recent % of A  Overall % of A
CS        0.571453       0.705275        0.596793
STAT      0.597544       0.648854        0.605162

Notice that when observing the overall % of A grades received, you may think `STAT` and `CS` are equally difficult to get an `A_Grades` in. But in the sub-group of the courses held in years of **2021 and later**, we see that `CS` actually has a higher `A_Grades` rate! 

This is **Simpson's Paradox**: a pattern within a population can appear, disappear, or reverse when you look at subpopulations.

In more formal terms, Simpson's Paradox can cause you to observe a pattern reverse when you look at the overall group statistics versus statistics of groups post-stratification. In this case we are stratifying by time.

### Analysis: Reflecting on New Observations

You should see the pattern reverse when you look at the overall A grade percentages vs. the percentages stratified to account for recency. This is called **Simpson's Paradox**: a pattern within a population can appear, disappear, or reverse when you look at subpopulations.

Now think about how would you now respond differently to the incoming student's question:
- *Is it easier to get an A in STAT or CS courses at UIUC?*

**Q: Which comparison of percentages do you trust more and why? Are there any other potential confounding variables when answering this question that could be investigated further? Respond with at least three full sentences.**

I trust the conclusion reached by stratifying by time more because it reflects current data related to current courses being offered to an incoming student, not data from outdated courses. A potential confounding variable is data from classes that occurred during covid-19. Another confounding variable is the types of students who apply to each major.

<hr style="color: #DD3403;">

# Part 2: Revisiting the Hello Dataset

Enough about GPA (for now). Two weeks ago, you created a series of questions that made up the **Hello Dataset** and completed the survey by answering all of the questions made by students in DISCOVERY. 

Now, we will load this dataset again and briefly answer a few questions with data about YOU!

## Load the Hello Dataset

The "Hello Dataset" is available here:
```
https://waf.cs.illinois.edu/discovery/hello-fa23.csv
```

Use Python to load this dataset into a DataFrame called `df_hello`:

In [32]:
df_hello = pd.read_csv("https://waf.cs.illinois.edu/discovery/hello-fa23.csv")
df_hello

,Name,Section,What is your first name you want us to use for you?,"What lab section are you enrolled in? (Use the three-letter code that starts with a ""Y"", like ""Y42"".)",Does your NetID ending with odd number or even number?,"If I flipped a coin, do you think it would it land on heads or tails?",Do you like to eat tacos or donuts?,Pick a Number: 0 or 1,Are you a freshman in college?,Are you a morning or a night person?,...,"From 1 to 10, how happy are you right now?","The level of spiciness you're comfortable with (None, mild, moderate, strong, extreme)?","What college is your intended major in? (This is where you hope to end up, not necessarily your current major.)",What do you think is the hardest major at UIUC?,What genre of music do you listen to?,Who is your favorite music artist?,What's your favorite social media app?,How do you respond to I-L-L?,What is your favorite game to play (either video game or IRL)?,What is your dream vacation location?
0,Prof. Karle,"L1, L2",Prof. Karle,"L1, L2",NetID ends with an odd number,Heads,Tacos,0.0,Not a Freshman,Night Person,...,9.00,moderate,Statistics,Anything in GRAINGER!,TAYLOR SWIFT!,Taylor Swift,Instagram,I-N-I,Any type of card game,The Maldives
1,Prof. Wade,"L1, L2",Prof. Wade,"L1, L2",NaN,Heads,Tacos,1.0,Not a Freshman,Night Person,...,8.25,Moderate,Grainger,Physics,Pop and EDM,Taylor Swift,YouTube,I-N-I,Factorio,Mountains
2,Andrew,Y05,Andrew,Y05,NetID ends with an odd number,Heads,Tacos,1.0,Freshman in College,Night Person,...,7.00,moderate,LAS,CS,rap,Dave,instagram,I-N-I,soccer,Hawaii
3,Annabel,Y05,Annabel,Y05,NetID ends with an even number,Heads,Tacos,0.0,Not a Freshman,Night Person,...,5.00,Moderate,ISchool and LAS,Computer science,Rap or r&b,Eminem,Snapchat,INI,Volleyball or fortnight,Greece
4,Ayden,Y14,Ayden,Y14,NetID ends with an even number,Heads,Donuts,1.0,Freshman in College,Night Person,...,8.00,Strong,Gies,Any engineering,Indie pop,The Lumineers,Snapchat,INI,Basketball,Australia
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1053,Qingzhi,Y31,Qingzhi,Y31,NetID ends with an even number,Heads,Tacos,1.0,Not a Freshman,Night Person,...,7.00,NaN,Political Science,CS,base house,Hardwell,Instagram,Sorry,League of Legends,maldives
1054,Jonathan,Y08,Jonathan,Y08,NetID ends with an even number,Tails,Donuts,0.0,Freshman in College,Night Person,...,9.00,none,Computer science,Computer science,Pop,Dijon,Instagram,INI,billiard,Belgium
1055,Jason,Y34,Jason,Y34,NetID ends with an even number,Heads,Donuts,1.0,Freshman in College,Night Person,...,10.00,Strong,Gies,Chemistry,Gospel,Wilson Bugembe,Youtube,NaN,Risk,Uganda
1056,Aimee Wang,Y36,Aimee Wang,Y36,NetID ends with an even number,Heads,Tacos,0.0,Not a Freshman,Night Person,...,2.00,mild,Information Systems + Data Science,Computer Science,Pop,Taylor Swift,YouTube,?,Sims 4,Paris
1057,Yinfang,Y25,Yinfang,Y25,NetID ends with an even number,Heads,Tacos,1.0,Not a Freshman,Night Person,...,2.00,moderate,MIT,NaN,Rap,GAI,WeChat,Illinois,DouDiZhu,California

### 🔬 Test Case Checkpoint 🔬

In [33]:
## == CHECKPOINT TEST CASES ==
# - This read-only cell contains test cases for your previous cell.
# - If this cell runs without any errors, you PASSED all test cases!
# - If this cell results in any errors, check your previous cell, make changes, and RE-RUN your code and then this cell.
assert(len(df_hello) >= 1050), "This is not the Hello dataset you're looking for. Check the URL."

## == SUCCESS MESSAGE ==
# You will only see this message (with the emoji showing) if you passed all test cases:
tada = "\N{PARTY POPPER}"
print(f"{tada} All tests passed! {tada}")

🎉 All tests passed! 🎉

## Classes v. Sleep

With the Hello Dataset, we are going to briefly explore two quantitative questions posed and answered by all DISCOVERY students and staff:
- How many hours do you sleep in a day?
- How many classes are you taking this semester?

### Puzzle 2.1: Observation Subsets

In this situation, let's define the daily routine of **6 or more hours** of sleep as "good sleep" and any less to be defined as "bad sleep".

From this, create two DataFrames that contain subsets of the Hello Dataset: 
- `good_sleep`: including everyone who gets "good sleep" on average ($\space \geq 6 \space$)
- `bad_sleep`: including everyone who gets "bad sleep" on average ($\space < 6 \space$)

The `sleep` question has been provided to you as a **string** for ease of DataFrame column access.

In [35]:
sleep = 'How many hours do you sleep in a day?'
good_sleep = df_hello[df_hello[sleep] >= 6]
good_sleep

,Name,Section,What is your first name you want us to use for you?,"What lab section are you enrolled in? (Use the three-letter code that starts with a ""Y"", like ""Y42"".)",Does your NetID ending with odd number or even number?,"If I flipped a coin, do you think it would it land on heads or tails?",Do you like to eat tacos or donuts?,Pick a Number: 0 or 1,Are you a freshman in college?,Are you a morning or a night person?,...,"From 1 to 10, how happy are you right now?","The level of spiciness you're comfortable with (None, mild, moderate, strong, extreme)?","What college is your intended major in? (This is where you hope to end up, not necessarily your current major.)",What do you think is the hardest major at UIUC?,What genre of music do you listen to?,Who is your favorite music artist?,What's your favorite social media app?,How do you respond to I-L-L?,What is your favorite game to play (either video game or IRL)?,What is your dream vacation location?
0,Prof. Karle,"L1, L2",Prof. Karle,"L1, L2",NetID ends with an odd number,Heads,Tacos,0.0,Not a Freshman,Night Person,...,9.00,moderate,Statistics,Anything in GRAINGER!,TAYLOR SWIFT!,Taylor Swift,Instagram,I-N-I,Any type of card game,The Maldives
1,Prof. Wade,"L1, L2",Prof. Wade,"L1, L2",NaN,Heads,Tacos,1.0,Not a Freshman,Night Person,...,8.25,Moderate,Grainger,Physics,Pop and EDM,Taylor Swift,YouTube,I-N-I,Factorio,Mountains
2,Andrew,Y05,Andrew,Y05,NetID ends with an odd number,Heads,Tacos,1.0,Freshman in College,Night Person,...,7.00,moderate,LAS,CS,rap,Dave,instagram,I-N-I,soccer,Hawaii
3,Annabel,Y05,Annabel,Y05,NetID ends with an even number,Heads,Tacos,0.0,Not a Freshman,Night Person,...,5.00,Moderate,ISchool and LAS,Computer science,Rap or r&b,Eminem,Snapchat,INI,Volleyball or fortnight,Greece
4,Ayden,Y14,Ayden,Y14,NetID ends with an even number,Heads,Donuts,1.0,Freshman in College,Night Person,...,8.00,Strong,Gies,Any engineering,Indie pop,The Lumineers,Snapchat,INI,Basketball,Australia
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1053,Qingzhi,Y31,Qingzhi,Y31,NetID ends with an even number,Heads,Tacos,1.0,Not a Freshman,Night Person,...,7.00,NaN,Political Science,CS,base house,Hardwell,Instagram,Sorry,League of Legends,maldives
1054,Jonathan,Y08,Jonathan,Y08,NetID ends with an even number,Tails,Donuts,0.0,Freshman in College,Night Person,...,9.00,none,Computer science,Computer science,Pop,Dijon,Instagram,INI,billiard,Belgium
1055,Jason,Y34,Jason,Y34,NetID ends with an even number,Heads,Donuts,1.0,Freshman in College,Night Person,...,10.00,Strong,Gies,Chemistry,Gospel,Wilson Bugembe,Youtube,NaN,Risk,Uganda
1056,Aimee Wang,Y36,Aimee Wang,Y36,NetID ends with an even number,Heads,Tacos,0.0,Not a Freshman,Night Person,...,2.00,mild,Information Systems + Data Science,Computer Science,Pop,Taylor Swift,YouTube,?,Sims 4,Paris
1057,Yinfang,Y25,Yinfang,Y25,NetID ends with an even number,Heads,Tacos,1.0,Not a Freshman,Night Person,...,2.00,moderate,MIT,NaN,Rap,GAI,WeChat,Illinois,DouDiZhu,California

In [36]:
bad_sleep = df_hello[df_hello[sleep] < 6]
bad_sleep

,Name,Section,What is your first name you want us to use for you?,"What lab section are you enrolled in? (Use the three-letter code that starts with a ""Y"", like ""Y42"".)",Does your NetID ending with odd number or even number?,"If I flipped a coin, do you think it would it land on heads or tails?",Do you like to eat tacos or donuts?,Pick a Number: 0 or 1,Are you a freshman in college?,Are you a morning or a night person?,...,"From 1 to 10, how happy are you right now?","The level of spiciness you're comfortable with (None, mild, moderate, strong, extreme)?","What college is your intended major in? (This is where you hope to end up, not necessarily your current major.)",What do you think is the hardest major at UIUC?,What genre of music do you listen to?,Who is your favorite music artist?,What's your favorite social media app?,How do you respond to I-L-L?,What is your favorite game to play (either video game or IRL)?,What is your dream vacation location?
19,Lauren,Y03,Lauren,Y03,NetID ends with an even number,Heads,Tacos,0.0,Not a Freshman,Night Person,...,8.0,Strong,LAS,Engineering,All,N/a,Tik Tok,I-N-I,N/a,Japan
37,Hazel,Y06,Hazel,Y06,NetID ends with an odd number,Heads,Donuts,0.0,Not a Freshman,Night Person,...,6.0,strong,LAS,CS,ballad,Taeyeon,Instagram,I-N-I,mobile,Guam
38,Emma,Y11,Emma,Y11,NetID ends with an odd number,Tails,Donuts,0.0,Not a Freshman,Night Person,...,6.0,none,ischool,engineering,country,morgan wallen,tik tok,I-N-I,fortnite,bora bora
160,Alejandra,Y30,Alejandra,Y30,NetID ends with an even number,Heads,Tacos,0.0,Freshman in College,Morning Person,...,6.0,Strong,GIES,Engineering,Reggeaton,Raw Alejandro,Instagram,I-N-I,Among Us,Italy
211,Vanessa,Y22,Vanessa,Y22,NetID ends with an odd number,Heads,Tacos,1.0,Freshman in College,Morning Person,...,5.0,strong,uiuc,Computer Science,j-pop,Mitski,Instagram,INI,roblox,Switzerland
227,Yumin,Y06,Yumin,Y06,NetID ends with an odd number,Tails,Donuts,0.0,Freshman in College,Night Person,...,4.0,strong,gies,computer science,Kpop,Taylor Swift,instagram,ini,animal crossing,australia
258,Jon,Y17,Jon,Y17,NetID ends with an odd number,Heads,Donuts,0.0,Freshman in College,Morning Person,...,8.0,NaN,Gies,Cs,Coutnry,Morgan wallen,Isntagram,Ini,Basketball,Aruba
259,Eric,Y22,Eric,Y22,NetID ends with an even number,Heads,Donuts,0.0,Freshman in College,Night Person,...,3.0,mild,Gies,Computer Science,phonk,Nueki,instagram,I-N-I,valorant,Paris
284,Grange,Y24,Grange,Y24,NetID ends with an even number,Tails,Tacos,0.0,Freshman in College,Night Person,...,5.0,moderate,Information Sciences,CS,all music,Will Stetson,Discord,I-N-I,osu!,Home
318,Tabi,Y28,Tabi,Y28,NetID ends with an even number,Tails,Tacos,1.0,Freshman in College,Morning Person,...,9.0,Extreme,Gies,Computer Science,Pop,TAYLOR SWIFTTT🩷,TikTok,I-N-I duhhh,Chess,Thailand
320,Alexander,Y23,Alexander,Y23,NetID ends with an odd number,Heads,Tacos,0.0,Freshman in College,Night Person,...,8.0,Strong,Las,Engineering,Anything,Coldplay,Instagram,Idk,Rainbow six siege,Japan
324,Shen,Y35,Shen,Y35,NetID ends with an odd number,Heads,Tacos,1.0,Freshman in College,Night Person,...,1.0,extreme,Grainger,CS,symphony,Venoflame,tik tok china version,?_?,Valorant,my home
329,Ethan,Y19,Ethan,Y19,NetID ends with an even number,Heads,Tacos,1.0,Freshman in College,Night Person,...,8.0,Strong,Gies,Bioengineering,Rap,Eminem,Instagram,I-N-I,PUBG,Budapest
340,Haoyu,Y01,Haoyu,Y01,NetID ends with an even number,Heads,Donuts,0.0,Not a Freshman,Night Person,...,1.0,none,business,cs,rap,no,wechat,no,csgo,no
362,Jihee,Y12,Jihee,Y12,NetID ends with an even number,Heads,Donuts,1.0,Not a Freshman,Morning Person,...,6.0,Strong,Chemical Sciences,CS,Band music,Harry Styles,Instagram,INI,Tetris,Quebec
394,Renee,Y27,Renee,Y27,NetID ends with an odd number,Heads,NaN,0.0,Freshman in College,Morning Person,...,5.0,Moderate,Operations Management,pure maths,Indie,I don't have one,Instagram,I-N-I,Hades,Denmark
460,Alex,Y05,Alex,Y05,NetID ends with an odd number,NaN,Tacos,1.0,NaN,Night Person,...,4.0,mild,Gies,cs,rap,lucki,instagram,ini,gta,hawaii
463,CA Ram,Y31,CA Ram,Y31,NetID ends with an even number,Heads,Tacos,0.0,Not a Freshman,Night Person,...,1.0,Strong,Math,Computer Engineering,Kpop,NewJeans,Discord,...,Football,Sleeping all day
572,Sam,Y11,Sam,Y11,NetID ends with an even number,Heads,Tacos,1.0,Not a Freshman,Night Person,...,6.0,moderate,College of IS,Computer Science,Everything,Zach Bryan,Instagram,I-N-I,Madden 23,Iceland
593,JT,Y05,JT,Y05,NetID ends with an even number,Tails,Donuts,0.0,Freshman in College,Night Person,...,6.0,Mild,Gies,Aerospace Engineering,Everything,J. Cole,Instagram,I-N-I,Overwatch 2,Switzerland
596,Anthony,Y24,Anthony,Y24,NetID ends with an odd number,Heads,Tacos,1.0,Freshman in College,Night Person,...,10.0,mild,Business,computer science,heavy metal,king sosa,youtube,INI,mario kart,Cayman island
616,Arpit,Y35,Arpit,Y35,NetID ends with an even number,Heads,Donuts,1.0,Not a Freshman,Morning Person,...,10.0,Strong,Grainger,ECE,Slow Hindi,Arijit Singh,Instagram,INI,Depends on my mood,Maldives
624,Jacob,Y26,Jacob,Y26,NetID ends with an even number,Heads,Tacos,1.0,Freshman in College,Night Person,...,10.0,strong,gies,computer science,rap,mac miller,youtube,ini,basketball,italy
631,Tayfun,Y11,Tayfun,Y11,NetID ends with an even number,Tails,Tacos,1.0,Not a Freshman,Morning Person,...,9.0,moderate,LAS,chemistry,house phonk,eminem,youtube,I-N-O-I-S,Sly cooper,Italy
645,Ryan,Y29,Ryan,Y29,NetID ends with an odd number,Heads,Donuts,1.0,Freshman in College,Night Person,...,10.0,Moderate,Actuarial Science,Actuarial Science,Hair Metal,Def Leppard,YouTube,I-N-I,Rust,Colorado - Rocky Mountains
678,minh,Y16,minh,Y16,NetID ends with an even number,Tails,Tacos,1.0,Not a Freshman,Night Person,...,0.0,extreme,aces,cs,all of them,fall out boy,twitter,silence,badminton,vietnam
688,Lina,Y06,Lina,Y06,NaN,Heads,Tacos,1.0,Not a Freshman,Morning Person,...,7.0,Moderate,ischool,ECE,Jazz,Balqees Fathi,Instagram,N/a,N/a,Maldives
768,Ibrahim,Y36,Ibrahim,Y36,NetID ends with an even number,Tails,Tacos,1.0,Not a Freshman,Morning Person,...,7.0,Strong,School of Information Sciences,CS + MATH,ALL,Eve,Instagram,INI?,Blazblue Central Fiction,Japan
781,Shinu,Y36,Shinu,Y36,NetID ends with an odd number,Heads,Tacos,1.0,Not a Freshman,Night Person,...,6.0,Strong,LAS,CE,Hip-hop,Tyler. The Creator,Instagram,I N I,Hades,"Goa, India"
783,Ziqi,Y16,Ziqi,Y16,NetID ends with an odd number,Heads,Donuts,1.0,Not a Freshman,Night Person,...,5.0,strong,las,cs,popular,Taylor Swift,Xiaohongshu,good,video,China
797,Wang,Y01,Wang,Y01,NetID ends with an odd number,Heads,Donuts,0.0,Not a Freshman,Night Person,...,4.0,extreme,Gies,ANY MAJOR IN GRAINGER,Rap,Jay Chou,snap,I-N-O-I-S!!!!!!!!!!!!!,call of duty,home
800,Netsh,Y21,Netsh,Y21,NetID ends with an even number,NaN,Tacos,NaN,Freshman in College,Night Person,...,8.0,Strong,Gies,Physics,Rnb,Tyler the Creator,snapchat,INI,tennis,India
891,Cristian,Y34,Cristian,Y34,NetID ends with an odd number,Heads,Tacos,1.0,Not a Freshman,Night Person,...,7.0,Moderate,Statistics,ECE,Hip Hop,Kendrick Lamar,Instagram,I-N-I,Call of Duty,Punta Cana
923,Helen,Y05,Helen,Y05,NetID ends with an odd number,Heads,Tacos,0.0,Not a Freshman,Night Person,...,7.0,STRONG,LAS,CS + Physics,Indie,Daniel Caesar,Tik Tok,INIIIIIII,Red Rover,Hawaii
996,Henry,Y36,Henry,Y36,NetID ends with an even number,Heads,Tacos,1.0,Freshman in College,Morning Person,...,10.0,moderate,cs and stat,CS,none,noe,apple map,ILL,LOL,none
1008,Matthew,Y09,Matthew,Y09,NetID ends with an even number,Heads,Tacos,1.0,Freshman in College,Night Person,...,7.0,Mild,Gies,CS,R & B and Pop,Post Malone,Youtube,I-N-I,Apex Legends,Japan/Korea
1014,Juliana,Y13,Juliana,Y13,NetID ends with an even number,Heads,Donuts,0.0,Not a Freshman,Night Person,...,4.0,mild,stats,any engineering,pop or rap,lana del rey,tiktok,ini,mario kart,france
1046,Jonah,Y11,Jonah,Y11,NetID ends with an even number,Heads,Donuts,1.0,Not a Freshman,Night Person,...,3.0,Strong,Statistics,Electrical engineering,Pop,Taylor swift,Tik tok,I-N-I,Volleyball,Oregon

### 🔬 Test Case Checkpoint 🔬

In [37]:
## == CHECKPOINT TEST CASES ==
# - This read-only cell contains test cases for your previous cell.
# - If this cell runs without any errors, you PASSED all test cases!
# - If this cell results in any errors, check your previous cell, make changes, and RE-RUN your code and then this cell.
assert(len(good_sleep) == 993  ), "Double check your conditional used to create df_goodsleep from df_hello - remember, good sleep is response values of 6 hours or more"
assert(len(bad_sleep) == 38 ), "Double check your conditional used to create df_badsleep from df_hello - remember, bad sleep is response values of less than 6 hours"

## == SUCCESS MESSAGE ==
# You will only see this message (with the emoji showing) if you passed all test cases:
tada = "\N{PARTY POPPER}"
print(f"{tada} All tests passed! {tada}")

🎉 All tests passed! 🎉

### Puzzle 2.2: Average Number of Classes by Group

Now find the **average number of classes** of each group (`good_sleep` and `bad_sleep`):

- The `df['column name'].mean()` function returns the mean of all values in the specified column of `df`.
- The `classes` question has been provided to you as a **string** for ease of DataFrame column access.

In [39]:
classes = 'How many classes are you taking this semester?'
good_sleep_avg_classes = good_sleep[classes].mean()
good_sleep_avg_classes

5.305443548387097

In [40]:
bad_sleep_avg_classes = bad_sleep[classes].mean()
bad_sleep_avg_classes

5.421052631578948

### 🔬 Test Case Checkpoint 🔬

In [41]:
## == CHECKPOINT TEST CASES ==
# - This read-only cell contains test cases for your previous cell.
# - If this cell runs without any errors, you PASSED all test cases!
# - If this cell results in any errors, check your previous cell, make changes, and RE-RUN your code and then this cell.
assert(math.isclose(good_sleep_avg_classes,  5.305443548387097)), "The average number of classes for those with good sleep does not appear to have been correctly calculated"
assert(math.isclose(bad_sleep_avg_classes,  5.421052631578948)), "The average number of classes for those with bad sleep does not appear to have been correctly calculated"

## == SUCCESS MESSAGE ==
# You will only see this message (with the emoji showing) if you passed all test cases:
tada = "\N{PARTY POPPER}"
print(f"{tada} All tests passed! {tada}")

🎉 All tests passed! 🎉

### Analysis: Classes v. Sleeptime

**Q: What is the relationship between classes and daily sleep time?  Can you think of a possible *confounding variable* in the observed relationship (or lack thereof) between classes and daily sleep time?** Write at least three complete sentences answering these questions and explaining why your variable would be a confounder.

There is no significant relationship between classes and daily sleep time. A possible confounding variable is the difficulty of each class, or credit hours of each class. This could be a confounder because maybe some people have a lot of easy classes, while others have the same number of classes, but each class is a lot harder.

<hr style="color: #DD3403;">

# Submission

You're almost done!  All you need to do is to commit your lab to GitHub:

1.  ⚠️ **Make certain to save your work.** ⚠️ To do this, go to **File => Save All**

2.  After you have saved, exit this notebook and follow the Canvas instructions to commit this lab to your Git repository!

3. Your TA will grade your submission and provide you feedback after the lab is due. :)